<%- include header %>
<style type="text/css">
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
</style>

<div class="container">
<div class="row-fluid">

<div class="span6">
<div class="portlet">
<div class="portlet-body">
<table class="table table-striped table-bordered table-advance table-hover">
    <thread>
        <tr>
            <th>OrderId</th>
            <th>FieldList</th>
            <th>TotalPrice</th>
            <th>OrederStatus</th>
            <th>Actions</th>
        <tr>
    </thread>
    <tbody>
        <%- my_orders_table %>
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<%- include footer %>

